* {
    margin: 0;
    padding: 0;
}

.title {
    background: #746E6C;
    text-align: center;
}

#cards {
    background-color: #8F8987;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.card {
    background-color: #A49E9C;
    margin:5%;
    padding: 5%;
}

@media (min-width: 1000px){
   #cards {
       grid-template-columns: repeat(4, 1fr);
   }
  }