* {
    margin: 0;
    padding: 0;
}

.title {
    background: #E09880;
    text-align: center;
}

#cards {
    background-color: #8F8987;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.card {
    background-color: #A49E9C;
    margin:5%;
    padding: 5%;
}